In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# Задача 1

In [15]:
salary  = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
df = pd.DataFrame(salary)
df['salary'] = pd.DataFrame(salary)
X = df['salary']

scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 83]
df = pd.DataFrame(scoring)
df['scoring'] = pd.DataFrame(scoring)
Y = df['scoring']

MX = X.mean()
MY = Y.mean()

cov1 = ((X - MX) * (Y - MY)).sum() / (X.shape[0] - 1)
cov1

9459.666666666668

In [16]:
X.var()

3882.9333333333334

In [17]:
Y.var()

69631.55555555556

In [18]:
cov2 = np.cov(X, Y)
cov2

array([[ 3882.93333333,  9459.66666667],
       [ 9459.66666667, 69631.55555556]])

In [19]:
corr = cov1 / (X.std() * Y.std())
corr

0.575297938183201

In [20]:
df['salary'] = pd.DataFrame(salary)
df['scoring'] = pd.DataFrame(scoring)

df[['salary', 'scoring']].corr()

           salary   scoring
salary   1.000000  0.575298
scoring  0.575298  1.000000

In [21]:
np.corrcoef(X, Y)

array([[1.        , 0.57529794],
       [0.57529794, 1.        ]])

# Задача 2

In [22]:
samples = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

In [23]:
n = samples.shape[0]
m = samples.mean()
s = samples.std(ddof=1)
print(f'n = {n},среднее = {m}, оценка среднего квадратического отклонения  = {s}')

n = 10,среднее = 118.1, оценка среднего квадратического отклонения  = 10.54566788359614

In [24]:
t = 2.31

In [25]:
(m - t * s / np.sqrt(n), m + t * s / np.sqrt(n))

(110.39653577927436, 125.80346422072563)

# Задача 3

In [26]:
t = 2.0555

In [27]:
n = 27
m = 174.2
s = 5
print(m - t * s / np.sqrt(n), m + t * s / np.sqrt(n))

172.2220942028012 176.17790579719878